$colors: (
    primary: #f47821,
    success: #43A047,
    light-purple: #f7f5fa,
    light-gray: #ededed,
    medium-gray: #878787,
    dark-gray: #222,
    black: #000,
    text: #4e4d53,
    footer: #161616,
);

@function color($name) {
    @return map-get($colors, $name);
}
