.page-header {
    padding: ($bit * 14) ($bit * 4) ($bit * 10);
    @include breakpoint(medium) {
        padding: ($bit * 21) ($bit * 4) ($bit * 16);
    }
    text-align: center;
}

.page-header__container {
    max-width: $global-width;
    margin: 0 auto;
    @each $name, $size in $columns-gutter {
        @include breakpoint($name) {
            padding: 0 ($size / 2);
        }
    }
}

.page-header__title {
    margin-bottom: $bit * -.5;
}

.page-header__text {
    margin-bottom: $bit * 4;

    strong {
        color: color(primary);
    }
}
