.about {
    padding-bottom: $bit * 10;
    background-color: color(light-purple);
}

.about__img {
    display: flex;
    max-height: rem-calc(240);
    margin-bottom: rem-calc(-20);
    @include breakpoint(medium) {
        max-height: rem-calc(400);
        margin-bottom: rem-calc(-60);
    }
    @include breakpoint(large) {
        max-height: rem-calc(600);
        margin-bottom: rem-calc(-100);
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

.about__list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
}

.about__item {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: rem-calc(40 50 50);
    @include breakpoint(medium) {
        flex-basis: 50%;
        max-width: 50%;
        padding: rem-calc(50 60 60);
    }
    border: 1px solid color(light-gray);
}

.about__title {
    margin-bottom: rem-calc(16);
    color: color(primary);
    font-size: font-size(small);
    text-transform: uppercase;
    letter-spacing: rem-calc(.48);
}

.about__text {
    color: color(dark-gray);
    font-family: $font-family-header;
    font-size: rem-calc(18);
    line-height: 1.3;
    @include breakpoint(medium) {
        font-size: rem-calc(20);
    }
    @include breakpoint(large) {
        font-size: rem-calc(24);
    }
    letter-spacing: rem-calc(-.72);

    > *:last-child {
        margin-bottom: 0;
    }
}
