.button {
    display: inline-block;
    padding: rem-calc(18 32);
    color: color(primary);
    background-color: white;
    border: none;
    border-radius: 1000px;
    font-family: $font-family-button;
    font-size: rem-calc(14);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: rem-calc(.56);
    box-shadow: 0 0 0 rem-calc(4) color(footer),
                0 0 0 rem-calc(8) rgba(color(primary), 0);
    transition: background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),
                box-shadow 200ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        background-color: color(light-gray);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 rem-calc(4) color(footer),
                    0 0 0 rem-calc(8) rgba(color(primary), .5);
    }
}

.button_expanded {
    display: block;
    width: 100%;
}
