html,
body {
    margin: 0;
    padding: 0;
    color: color(text);
    font-family: $font-family, sans-serif;
    line-height: 1.65;
}

html {
        background-image: url(../../../Meandr.png);
        background-position: center top;
        background-repeat: no-repeat;
}
body {
    background-color: rgba(red, .3);
}
