h1, h2, h3, h4, h5, h6 {
    margin: 0 0 ($bit * 3);
    font-family: $font-family-header;
    font-weight: font-weight(medium);
    letter-spacing: -0.02em;
}

@for $i from 6 through 1 {
    h#{7 - $i} {
        font-size: rem-calc(24) + rem-calc(8 * $i / 2);
    }
}
